/* Theme */

main {
	background: #EDEDED;
	color: #4B5658;
}

h1.intro {
	font-size: 3.75em;
	font-weight: normal;
}

.icons-social a {
	color: #4B5658;
}

.icons-social a::after {
	color: #4B5658;
}

.icons-social a svg path{
	fill: #4B5658;
}
